* {
  margin: 0;
  padding: 0;
  font-family: Dosis, Arial;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f5f2;
}

.about,
.menu,
.location,
.offer {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 250px;
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1F1F1;
}
footer a {
    color: black;
}

.headers {
  margin: 40px 0px;
}

.headers h3 {
  color: white;
  background-color: black;
  padding: 2px 15px;
  font-weight: 300;
}

p {
  margin-bottom: 12px;
}

input {
  width: 100%;
  border-width: 1px;
  padding: 10px 8px;
  margin: 8px 0px;
}

img {
  width: 500px;
  margin-top: 10px;
  margin-bottom: 12px;
}
